<h1> New Student </h1>

<!-- old way to render partial -->
<% render partial: "form", locals: { student: @student } %> 

<!-- new way to render partial , is recommended -->
<%= render 'form', student: @student %>
